<！DOCTYPE html>
<html>
  <head>
    <title><％= htmlWebpackPlugin.options.title ％></title>
  </head>
  <body>
    <$- include('./_header', {foo: 'foo'}) $>
    <img src="<％= require('./img/image.jpg') ％>">
    <$- include _footer $>
  </body>
</html>